<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.m_ang.brainwork">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InicioActivity" />
        <!-- Splash screen -->
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Colores.ColoresActivity" />
        <activity android:name=".Colores.AcertasteActivity" />
        <activity android:name=".Colores.FallasteActivity" />
        <activity android:name=".Colores.Colores1Activity" />
        <activity android:name=".Colores.Colores2Activity" />
        <activity android:name=".Formas.FormasActivity" />
        <activity android:name=".Formas.FallasteActivity" />
        <activity android:name=".Formas.AcertasteActivity" />
        <activity android:name=".Formas.Formas1Activity" />
        <activity android:name=".Formas.Formas2Activity" />
        <activity android:name=".Memoria.MemoriaActivity" />
        <activity android:name=".Herramientas.HerramientasActivity" />
        <activity android:name=".Dinero.DineroActivity" />
        <activity android:name=".Dinero.Dinero2Activity" />
        <activity android:name=".Herramientas.InstruccionesHActivity" />
        <activity android:name=".Memoria.InstruccionesMActivity"></activity>
    </application>

</manifest>